* {
  margin: 0;
}
html, body{
  background-image: url(./../assets/code_editor_v2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  /*background-color: #ffffff;*/
  /*opacity: 0.25;*/
  height: 100%;
  width: 100%;
}
/*.headerimg {
  height: 200px;
  background-image: url(./../assets/arthur_nameplate.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/
#renderReact {
  min-height: 100%;
  margin-bottom: -60px;
  /*margin: 0 auto;*/
  /*background-image: url(./../assets/code_editor_v2.png);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-size: 100%;*/
  /*height: 100%;
  width: 100%;*/
  background-color: #ffffff;
  /*border: 1px solid black;*/
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.footer, #renderReact:after {
  background-color: #ffffff;
  height: 60px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/*.headerspace {
  background-image: url(./../assets/arthur_nameplate.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*--- NAV ---*/
.navimain li:hover {
  background-color: lightgray;
}
.navimain {
  background-color: solid;
}
