* {
  margin: 0;
}
html, body{
  background-image: url(./../assets/code_editor_v2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  /*opacity: 0.25;*/
  height: 100%;
  width: 100%;
}
.body-container {
  /*margin: 5px;*/
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /*border: 1px solid black;*/
  opacity: 0.9;
  filter: alpha(opacity=90);
}
